.adminProfileBody {
    min-height: 500px;
}

.profile-popup-container {
    width: 60px;
    height: 60px;
    // margin-left: 160px; /* Add margin to separate the delete icon from registration number */
    // cursor: pointer; /* Add this if the delete icon is clickable */
}