

// adminProfile.scss
.adminProfileContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use the full height of the viewport */
  }
  
  .adminProfileBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
    padding: 20px;
  }
  .messMenu{
    cursor: pointer;
  }
  .accountant_details {
    cursor: pointer;
  }