// searchStudent.scss
.search-queries {
  width: 28%; /* Set the width to 30% */
  max-height: 90vh; /* Set max height to 70% of the viewport height */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 2%;
  padding: 20px;

  .search-bar {
    margin-bottom: 15px;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;

    .student-card {
      background-color: #fff;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .reg_delete {
        display: flex;
        align-items: center;
      }

      .delete-icon {
        width: 24px;
        height: 24px;
        margin-left: 160px;
        cursor: pointer;
      }

      h3 {
        font-size: 16px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .card-container {
     width: 100%;
    }
  }
}
